<a href="https://colab.research.google.com/github/Premkumardptr73159/jntua-python/blob/master/DAY_9_(30_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown 
## Markdown
### Markdown
#### Markdown

**Points**

*Points*

***Points***

*** Adding links to Markdown***

[site](https://en.wikipedia.org/wiki/Jawaharlal_Nehru_Technological_University,_Anantapur)

### Inserting image
![text](https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/JNTU_College_of_Engineering_Anantapur.jpg/220px-JNTU_College_of_Engineering_Anantapur.jpg)

In [7]:
print("hello world!")

hello world!

In [13]:
print ("hello , jntua")

hello , jntua

In [14]:
print ("hello , Jntua","|||","chemical","|||","cse","|||","mca")

hello , Jntua ||| chemical ||| cse ||| mca

In [18]:
n1 = 100 # single variable assignment
print (n1)
a = b = c = 10 # multi variable assignment of same variable
print  (a,b,c)
a1,b1,c1 = 100,200,300 # multiple variable assignment with different values 
print (a1,b1,c1)

100
10 10 10
100 200 300

# Data types and conversions
* int
* float
* string

In [19]:
a  = 100
s1 = 10.2
s2 = "python"
print (type(a),type(s1),type(s2))

<class 'int'> <class 'float'> <class 'str'>

In [21]:
i = 100
print (type(i))
s1 = str(i)
print (type(s1))
f1 = float(i)
print (type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [24]:
# length 
a = 123456
print (len(str(a)))

6

# Reading input from user---input function

In [28]:
a = input("enter your name : ")
print (a)
print(type(a))

enter your name : Kumar
Kumar
<class 'str'>

In [29]:
b  = int(input("enter your age : "))
print (b)
print (type(b))

enter your age : 19
19
<class 'int'>

# Operators
- Operator is a symbol used to perform a specific kind of operations

# Arithmetic operator
- +
- -
- *
- /
- %
- //
- **

In [31]:
a = 1234
print (a+10)
print (a-10)
print (a*10)
print (a/10)
print (a%10)
print (a//10)
print (a**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

# Relational operator
*  =
*  == 
*  !=
*  <
* " >
*  <=
* =>

In [32]:
x  = 10
a = x>15
print (a)

False

# Logical operators
* and
* or
* not

In [36]:
i = 100
a1 = (i > 15) and (i < 800)
a2 = (i > 15) or (i > 800)
i = not 100
print (a1)
print (a2)
print (i)

True
True
False

# Control flow statements
* Conditional statements
* Looping statements

# if - else statement
## syntax
# if Boolean_condition
# statements
# else:
# statements

In [40]:
# to check given number is even or not
n = int(input("enter a number"))
if n%2 == 0:
  print (n,"is a even number ")
else:
  print (n,"is a odd number")

enter a number568
568 is a even number

In [48]:
# to check a given is perfectly multiples of 3 and 5
n = int(input("enter a number : "))
if n%3 == 0  and n%5 == 0:
 print (n,"is a perfect multiple of 3 and 5")
else:
  print (n,"is not a multiple of 3 and 5")

enter a number : 75
75 is a perfect multiple of 3 and 5

In [52]:
# to check that given number is positive or negative or zero
n = int(input("enter a number : "))
if n>0:
  print(n,"is positive number")
else:
 if n<0:
  print(n,"is a negative number")
 else:
  print(n,"is zero")

enter a number : 0
0 is zero

In [58]:
# to print greater number
a = int(input("enter a number a : "))
b = int(input("enter a number b : "))
c = int(input("enter a number c : "))
if a>b and a>c:
  print("a is greater")
elif b>a and b>c:
 print("b is greater")
else:
  print("c is greater")

enter a number a : 5
enter a number b : 6
enter a number c : 7
c is greater

In [64]:
# to find it is a leap year or not
y = int(input("enter a year : "))
if (y%4 == 0 and y%100 != 0) or (y%100 == 0 and y%400 != 0):
  print (y,"is a leap year")
else:
  print (y,"is not a leap year")

enter a year : 1900
1900 is a leap year