<a href="https://colab.research.google.com/github/Premkumardptr73159/jntua-python/blob/master/Day_10_(31_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops
* While loop
* For loop

In [1]:
# Print number from 1 to n
# input 10
# output 1 2 3 4 5 ..... 10
n = int(input("enter a number : "))
i = 1
while i<= n:
  print (i)
  i = i+1

enter a number : 10
1
2
3
4
5
6
7
8
9
10

In [2]:
n = int(input("enter a number : "))
i = 1
while i<= n:
  print (i, end = " ")
  i = i+1

enter a number : 10
1 2 3 4 5 6 7 8 9 10

In [37]:
# sum of even numbers
n = int(input("enter a number : "))
i = 2
sum = 0
while i<=n:
  sum = sum+i
  i = i+2
print (sum)

enter a number : 12
42

In [44]:
# print a palindrome
# input 123
# output 321
n = int(input("enter a number : "))
rem = 0
num = 0
while n>0:
  rem = n%10
  num = num*10+rem
  n = n//10
  print (num)

enter a number : 1234
4
43
432
4321

# Functional programming
* simple
* easy to understand
* better reusability
* lengthy program will be divided into sub programs

In [0]:
def nameofthefunction(<parameter>):
  statements
  return

In [66]:
# print sum of even number
# input : 1234
# output (2+4)=6
def sumofevendigits(n):
  s = 0
  while n!=0:
     r = n%10
     if r%2 == 0:
      s = s + r
     n = n//10
  return s
sumofevendigits(1234)

6

In [54]:
# print largest digit
# input : 19573
# output : 9
def largestdigit(n):
  s = 0
  t = 0
  while(n!=0):
    s=t
    t=n%10
    if(s>t):
     t=s
    n=n//10
  return t
largestdigit(19573)

9

# For loop

In [0]:
# syntax:
for in range(start,stop,step):
    statements

In [60]:
# Using function print the numbers between limits
# input : 11 25
# output : 11 12 13 .... 23 24 25
def printseries(fn,ln):
  for i in range(fn,ln+1):
    print(i,end=" ")
  return
printseries(11,25)

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [67]:
def printseries1(fn,ln):
  for i in range(fn,ln+1,4):
    print(i,end=" ")
  return
printseries1(500,520)

500 504 508 512 516 520

# Collection types
* list
* tuple
* dictionary

# List :
* one of the data structure in python
* Data structure means to store, sort and search options
* Its one common data structure in python, the terms of list separated by comma and enclosed by square brackets
* In list we can change values
* eg :
* list1 = [1,2,3,4,5] 
* list2 = ["JNTUA","DASD","asds"]

In [76]:
li = [1,5,2,8,4]
print(li)
print(li[2])
print(li[-2])
print(li[2:])
print(li[2:4])
print(li[-3:-1])
print(li[::3])

[1, 5, 2, 8, 4]
2
8
[2, 8, 4]
[2, 8]
[2, 8]
[1, 8]

In [78]:
# update the list
li = ["JNTUA",1,"ATP",3,5]
print(li)
li[1]="15"
print(li)
#delete the item from the list
del li[3]
print(li)

['JNTUA', 1, 'ATP', 3, 5]
['JNTUA', '15', 'ATP', 3, 5]
['JNTUA', '15', 'ATP', 5]

In [81]:
# Basic list operations
li = [1,2,3,4,5]
print(len(li))
print(li*2)
print(4 in li)
print(15 in li)

5
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
True
False

# List functions
* maximum
* minimum
* sum
* append
* insert
* count
*index
* sort
* top